* {
    margin: 0;
    padding: 0;
}

/* Header */
.col-3 img {
    width: 120px;
    cursor: pointer;
}

.col-3 .leftIcons {
    width: 26px;
}

.col-7 {
    background-color: whitesmoke;
}

.icons {
    width: 26px;
}

.col-2 {
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    max-width: 400px;
    background-color: #f6f8fc;
}

.sidebarCompose {
    border-radius: 30px;
    cursor: pointer;
}

.sidebarOption {
    padding: 4px 10px;
    padding-right: 80px;
    cursor: pointer;
    color: #818181;
}

.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active .material-icons {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800;
}


body {
    overflow-y: hidden;
}

/* email list */
.emailList {
    flex: 1;
    overflow-y: scroll;
}

.emailListSettings {
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.emailListSettings .icons {
    margin: 5px;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0;
}

.emailListSections {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}

.sectionSelected {
    background-color: whitesmoke;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;
}

.sectionSelected .icons {
    color: red;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4 {
    font-size: 14px;
    margin-left: 15px;
}

.emailRowOptions {
    display: flex;
    align-items: center;
}

.emailRowOptions .icons,
input {
    margin: 5px;
}	

.emailRow {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRowMessage {
    flex: 0.8;
}

.emailRowMessage h5 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRowTitle {
    font-size: 13px;
    flex: 0.3;
}

.emailRowTime {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailRowDescription {
    font-weight: 400;
    color: gray;
}

